@import "~bootstrap/scss/bootstrap";
@import "home.scss";
@import "header.scss";
@import "footer.scss";
@import "certificates.scss";
@import "divisions.scss";
@import "about.scss";
@import "variable.scss";
@import "crown-essentials.scss";
@import "product-modal.scss";
@import 'contact.scss';

// swiper css
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

$primary-color: #59c0e9;

h1 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
h4 {
  font-family: "Montserrat", sans-serif;
}
h5 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

// new navbar
.logo-container {
  padding: 15px 10px;
}
.brand-logo {
  height: 77px;
  width: 322px;
}

@media only screen and (min-width: 913px) and (max-width: 1700px) {
  .offcanvas-bttn {
    display: none;
  }
}
@media only screen and (min-width: 150px) and (max-width: 550px) {
  .brand-logo {
    height: 60px;
    width: 230px;
  }
}

.topnav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 25px;
  .contact {
    a {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
    span {
      padding-left: 12px;
    }
  }
}

@media only screen and (min-width: 150px) and (max-width: 912px) {
  .address {
    display: none;
  }
}


