// top navbar

.topnav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 25px;
  .contact {
    a {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
    span {
      padding-left: 12px;
    }
  }
}

@media only screen and (min-width: 150px) and (max-width: 912px) {
  .address {
    display: none;
  }
}

// second navbar

.second-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59c0e9;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Montserrat", sans-serif;
  #basic-nav-dropdown {
    padding: 0;
  }
  .nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: black;
    }
  }
}

@media only screen and (min-width: 150px) and (max-width: 912px) {
  .second-navbar {
    display: none;
  }
}
 
// mobile-navbar {
.mobile-navbar {
  ul {
    list-style-type: none;
    a {
      text-decoration: none;
      color: black;
      font-family: "Montserrat", sans-serif;
    }
    li {
      margin: 15px;
      // text-align: center;
    }
  }
}

.offcanvas-header {
  background-color: #59c0e9;
  color: white;
  text-align: center;
}
.offcanvas-title {
  padding-left: 35px;
}