// fixed image section
.fixed-image-container {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("../public/images/website-data/about-us-webp.webp");
  background-attachment: fixed;

  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}







// our products category
.our-products {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.products-category {
  display: flex;
  justify-content: center;
}

.box img {
  height: 200px;
  width: auto;
}

.border {
  border: 1px solid black;
  margin: 20px;
  h5 {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.box:hover {
    // color: white;

}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #59c0e994;
}

.box:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 87%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: large;
  font-weight: 600;
  border-bottom: 2px solid white;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.box {
  position: relative;
}






// product market
.product-market {
  margin-bottom: 70px;
  .card {
    margin: 0;
    padding: 0;
  }
}
.product-market-heading {
  text-align: center;
  padding: 50px;
}

.product-market-image-container {
  border: 1px solid black;
  text-align: center;
  display: inline-block;
}
.product-market-slider-image {
   width: 12rem;
}

// product slider
.home-product-slider {
  background-position: center;
  background-size: cover;
  background-image: url("../public/images/aloe-bg.png");
  background-attachment: fixed;
  .container-product-heading {
    h2 {
      text-align: center;
      padding: 30px;
    }
  }
}

// our brand
.our-brands {
  width: 70%;
  margin: auto;
  .our-heading {
    h2 {
      font-size: 45px;
      // padding: 10px;
    }
  }
  .our-brand-content {
    background-color: #59c0e9;
    padding-bottom: 10px;
    color: white;
    p{
     padding: 15px;
    }
  }
}
@media only screen and (min-width: 150px) and (max-width: 550px) {
  .our-brands {
    width: 95%;
  }
}

